<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}js/common.js"></script>
		<link href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}css/style.css" rel="stylesheet">
		<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
		<title>お問い合わせ失敗</title>
	</head>

	<body>
		{% include "header.html.twig" %}
		<div id="contact-wrapper">
			<div class="container">
				<h1 class="">お問い合わせに失敗いたしました。</h1>
				<p class="contents">大変申し訳ございません。<br>
					時間を空けてもう一度お試しいただくか、<br>
					下記番号までお問い合わせくださいませ。</p>
				<p class="tel">TEL: 000-0000-0000</p>
				<p>
					<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}index.php">トップぺージへ戻る</a>
				</p>
			</div>
		</div>
	</body>
</html>
