<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}js/common.js"></script>
		<link href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}css/style.css" rel="stylesheet">
		<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
		<title>退会確認</title>
	</head>

	<body>
		{% include "header.html.twig" %}
		<div id="delete-confirm-wrapper">
			<div class="container">
				<p class="title">
					退会確認
				</p>

				<p>本当に退会してよろしいですか?<br>
					今までの購入履歴などが見ることができなくなります。</p>

				<form action="delete_confirm.php" method="post">
					<input type="submit" name="complete" value="退会する" class="submit-btn">
				</form>

				<div class="">
					<a href="{{'portfolio\\Bootstrap::ENTRY_URL' }}index.php">退会しない</a>
				</div>
			</div>
		</div>
	</body>
</html>
