		<footer>
			<div class="footer-menu">
				<ul>
					<li><a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}contact.php">お問い合わせ</a></li>
					<li><a href="https://myportfolio-ea031.web.app/">サイト作成者</a></li>
				</ul>
			</div>
		</footer>