<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}css/style.css">
		<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
		<title>購入完了画面</title>
	</head>

	<body>
		{% include "header.html.twig" %}
		<div id="order-complete-wrapper">
			<div class="container">
				<p class="thanks">ご注文ありがとうございました!</p>

				<div>
					<p class="his-url">
						<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}orderhistory.php">購入履歴を確認する</a>
					</p>
				</div>
			</div>
		</div>
	</body>

</html>
