<div class="page-list">
	{% set break = false %}
	{% for i in pData.startPage..(pData.startPage + pData.pageLink - 1) if not break %}
		<span>
			<a href="{{constant('portfolio\\Bootstrap::ENTRY_URL')}}list.php?{{ pageLink }}page={{i}}">{{ i }}</a>
		</span>
		{% if i >= pData['maxPage'] %}
			{% set break = true %}
		{% endif %}
	{% endfor %}
</div>
